# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle/
build/

# Android Studio
*.iml
.idea/
.navigation/
captures/
output.json

# Keystore
*.jks
*.keystore
